@import '../tools', '../tools/mediaqueries';

.vue-typer {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;

  @media (--tablet) {
    font-size: 2rem;
  }

  .custom.char.typed {
    color: cc(primary);
  }

  .custom.char.selected {
    color: cc(border-bottom);
    background-color: transparent;
    text-decoration: line-through;
  }

  .custom.caret {
    display: none;
  }
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  transform: scale(0.8);
}
.social-btns .btn.gmail:before {
  background-color: #B23121;
}
.social-btns .btn.gmail .fa {
  color: #B23121;
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.linkedin:before {
  background-color: #0077b5;
}
.social-btns .btn.linkedin .fa {
  color: #0077b5;
}
.social-btns .btn.github:before {
  background-color: #333;
}
.social-btns .btn.github .fa {
  color: #333;
}
.social-btns .btn.telegram:before {
  background-color: #0088cc;
}
.social-btns .btn.telegram .fa {
  color: #0088cc;
}
.social-btns .btn.vk:before {
  background-color: #45668e;
}
.social-btns .btn.vk .fa {
  color: #45668e;
}
.social-btns .btn.spotify:before {
  background-color: #1db954;
}
.social-btns .btn.spotify .fa {
  color: #1db954;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 5px 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px #191414;
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}

