@import '../tools', '../tools/mediaqueries';

html {
  width: 100%;
  height: 100%;
}

#layout {
  width: 100%;
  height: 100%;
  color: cc(header);
}

#logo {
  width: 55px;
  height: 50px;
}

#image {
  margin-right: auto;
  margin-left: auto;

  @media (--phone) {
    width: 16rem;
    height: 11rem;
  }

  @media (--tablet) {
    width: 42rem;
    height: 30rem;
  }

  @media (--laptop) {
    width: 46rem;
    height: 30rem;
  }
}

.layout {
  position: relative;
  width: 100%;
  height: 6rem;

  .nav {
    position: relative;
    width: 100%;
    height: 6rem;
    max-width: 180rem;
    background-color: cc(header);
    border-bottom: 4px solid rgba(0, 0, 0, .05);
    box-shadow: 0 -50vw 0 50vw;
    //display: flex;
    //justify-content: space-between;
    //align-items: flex-end;
    //transform: translate(-50%);
    //z-index: 1;

    @media (--tablet) {
      padding: 1.75rem 1.25rem 1.25rem;
    }

    @media (--desktop) {
      //width: calc(100% - 10rem);
    }

    @media (--monitor) {
      padding: 1.75rem 2.5rem 1.25rem;
    }

    &__title {
      padding-left: 1rem;
    }

    &__menu {
      position: relative;

      @media (--phone) {
        height: 1.75rem;
        padding-bottom: 3rem;
      }
    }
  }
}

.main-content {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60rem;
  background-color: cc(bg);

  @media (--phone) {
    height: 84rem;
  }

  @media (--tablet) {
    height: 70rem;
  }

  @media (--mobile) {
    height: 84rem;
  }
}

.intro {
  position: relative;
  width: 100%;
  height: 30rem;
  background-color: cc(header);

  @media (--phone) {
    height: 20rem;
  }

  &__content {
    padding: 0 2.4rem;
  }

  &__image-placeholder {
    position: relative;
    float: right;
    height: 30rem;
    background: rgba(0,4,32,0.08);

    @media (--phone) {
      float: none;
      height: auto;
      width: auto;
    }

    @media (--tablet) {
      float: right;
      height: auto;
      width: 40rem;
    }

    @media (--laptop) {
      float: right;
      width: 46rem;
    }
  }

  &__text {
    position: relative;
    float: left;
    top: 39%;
    background: cc(bg);
    margin-bottom: 2rem;
    min-height: 74px;
    padding: 1.2rem;
    width: 100%;

    @media (--tablet) {
      min-height: 0;
      margin-bottom: 0;
      position: absolute;
      width: 40%;
    }
  }
}

.container {
  position: relative;
  margin: 4rem;
  height: 30rem;
  background: transparent;

  @media (--phone) {
    height: 60rem;
  }
}

#about {
  position: relative;
  background: transparent;
  height: auto;
  padding-bottom: 6rem;
  text-align: center;

  h2 {
    font-size: 30px;
    font-weight: 500;
  }

  p {
    padding: 4rem 2rem 0;
    font-size: 21px;
    font-weight: 300;
    color: cc(border-bottom);
    line-height: 1.7;
    letter-spacing: -.2px;

    @media (--phone) {
      font-size: 16px;
      letter-spacing: -.82px;
    }
  }
}

#contacts {
  position: relative;
  background: transparent;
  height: auto;
  padding-bottom: 4rem;
  text-align: center;

  h2 {
    font-size: 30px;
    font-weight: 500;
  }

  p {
    padding-top: 4rem;
  }
}

button {
  background: cc(header);
  color: cc(bg);
  border: none;
  position: relative;
  height: 40px;
  font-size: 1.2em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background: cc(header);
  color: grey;
}

button:before, button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: grey;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before, button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
